#numberButtons button,
#lastrow button{
    font-size: medium;
    background-color: rgb(255, 174, 210);
    border: none;
    color: rgb(212, 0, 0);
    border-radius: 100px;
    padding: 20px 25px 20px;
    margin : 3px;
    align-items:center;
}
#operators button{
    font-size: medium;
    background-color: rgb(255, 174, 210);
    border: none;
    color: rgb(0, 59, 14);
    border-radius: 100px;
    padding: 20px 25px 20px;
    margin : 3px;
    align-items:center;
}
#outputscreen{
    position: static;
    background-color: rgb(171, 171, 171);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    margin-right: 990px;
    /* margin-left: 600px; */
    color: aliceblue;
}
/* body{
    position: relative;
    top: 250px;
    left: 300px;
   
} */
